<div class="note-form">
  <form name="noteForm", ng-submit="noteForm.$valid && notes.save()">
    <div class=" note-form-header">
        <div class="note-options" ng-class="{ 'has-error': noteForm.$submitted && noteForm.notebook.$invalid }">

          <notebook-selector ng-model="notes.note.notebookId"></notebook-selector>



          <!--select required class="form-control" name="notebook" ng-model="notes.note.notebookId">
            <option ng-repeat="notebook in notes.notebooks" ng-selected="notebook._id === notes.note.notebookId" ng-value="notebook._id">{{notebook.name}}</option>
          </select-->

          <div class="help-block" ng-messages="noteForm.notebook.$error" ng-show="noteForm.notebook.$touched || noteForm.$submitted">
            <p ng-message="required">Notebook name is required.</p>
          </div>
        </div>
        <!--div class="pull-left note-options tags">
          <tags-input ng-model="notes.note.tags">
            <auto-complete source="notes.loadTags()"></auto-complete>
          </tags-input>
        </div-->
        <div class="">
          <button type="submit" formnovalidate name="button" class="btn btn-success">Save</button>
          <button type="button" name="button" class="btn btn-default" ng-click="notes.cancel()">Cancel</button>
        </div>
    </div>

    <div class="row">
      <div class="col-md-12" ng-class="{ 'has-error': (noteForm.title.$touched || noteForm.$submitted) && noteForm.title.$invalid }">
        <input name="title" type="text" required ng-minlength="2" ng-maxlength="500" placeholder="Your title here" ng-model="notes.note.title" class="form-control">

        <div class="help-block" ng-messages="noteForm.title.$error" ng-show="noteForm.title.$touched || noteForm.$submitted">
          <p ng-message="minlength">Note title is too short.</p>
          <p ng-message="maxlength">Note title is too long.</p>
          <p ng-message="required">Note title is required.</p>
        </div>
      </div>
    </div>

    <div class="row">
      <!--div class="col-md-12">
        <div text-angular ng-model="notes.note.content" ta-toolbar="[['h1','h2','h3'],['bold','italics','underline','ul','ol','undo','redo'],['justifyLeft','justifyCenter','justifyRight','justifyFull','indent','outdent']]"></div>
      </div-->
    </div>
  </form>
</div>
