<div class="note-form">

  <div class="row note-form-header">
    <div class="col-md-12">
      <div class="pull-left" style="margin-top:20px">
        <select class="form-control" ng-model="note.notebookId">
          <option ng-repeat="notebook in notebooks" ng-value="notebook._id">{{notebook.name}}</option>
        </select>
      </div>
      <div class="pull-right">
        <button type="button" name="button" class="btn btn-success" ng-click="saveNote()">Save</button>
        <button type="button" name="button" class="btn btn-default">Cancel</button>
      </div>
    </div>
  </div>

  <div class="row">
    <div text-angular ng-model="note.content"></div>
  </div>

</div>
