description "Start Notes Container"
author "Otavio Medeiros"

start on (filesystem and started docker and started mongo)
stop on runlevel [!2345]
respawn

pre-start script
  /usr/bin/docker kill {{ app_container_name }} || true
  /usr/bin/docker rm -f {{ app_container_name }} || true
end script

pre-stop script
  /usr/bin/docker kill {{ app_container_name }} || true
  /usr/bin/docker rm -f {{ app_container_name }} || true
end script

script
  /usr/bin/docker run -p {{ vault_app_port }}:{{ vault_app_port }} --name {{ app_container_name }} --rm -v {{ app_source_folder }}:/app --env-file {{ app_conf_folder }}/.notes.env --link {{ mongo_name }}:{{ mongo_name }} {{ app_container_name }}
end script
