@green-button: #15CD72;
@green-button-hover: #0CB863;

.btn {
  &.btn-success {
    color: white !important;
    background: @green-button;
    border: 1px solid @green-button;
    font-weight: 600;

    &:hover {
      background: @green-button-hover !important;
      border: 1px solid @green-button-hover !important;
    }
  }
}
