.main-container {
  padding-left: 0;

  .app-content {
    .form-container {
      display: table;
      width: 100%;
      height: 100%;

      .container-row {
        display: table-row;
      }

      .container-cell {
        display: table-cell;
        vertical-align: middle;
      }
    }

    .note-form {
      font-weight: normal !important;

      .note-form-header {
        padding-bottom: 10px;
      }

      .note-form-header {
        .note-options {
          margin-top:20px;
          margin-right: 10px;
        }
      }

      .note-options {
        &.tags {
          height: 35px;
          width: 300px;
        }
      }
    }

    .form-input {
      padding: 50px 50px 0px 50px;

      label {
        color: #ccc;
      }

      input {
        padding: 10px 10px !important;
        font-size: 18px !important;
        font-weight: normal !important;
        height: auto !important;
      }
    }
  }
}
