description "Start Nginx Container"
author "Otavio Medeiros"

start on (filesystem and started docker and started notes)
stop on runlevel [!2345]
respawn

pre-start script
  /usr/bin/docker kill {{ nginx_container_name }} || true
  /usr/bin/docker rm -f {{ nginx_container_name }} || true
end script

script
  /usr/bin/docker run -p 80:80 --name {{ nginx_container_name }} --rm -v {{ app_conf_folder }}/nginx/default.conf:/etc/nginx/conf.d/default.conf -v {{ app_conf_folder }}/nginx/nginx.conf:/etc/nginx/nginx.conf --link {{ app_container_name }}:{{ app_container_name }} {{ nginx_image }}
end script
