<div class="form-container" hide-menu>
  <div class="container-row">
    <div class="row container-cell">
      <form name="tagForm" ng-submit="save()">
        <div class="col-md-12 text-center">
          <h1>SETTINGS</h1>
        </div>
        <div class="form-input col-md-12">
          <label for="email">Email</label>
          <input name="email" type="text" class="form-control" ng-model="user.email" placeholder="Your email address" disabled>
        </div>

        <div class="form-input col-md-12">
          <label for="name">Name</label>
          <input name="name" type="text" class="form-control" ng-model="user.name" placeholder="Your name">
        </div>

        <div class="form-input col-md-12">
          <label for="password">New Password</label>
          <input name="password" type="password" class="form-control" ng-model="user.password" placeholder="Your New Password">
        </div>

        <div class="col-md-12 text-center form-input">
          <button type="button" name="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
          <button type="submit" formnovalidate name="button" class="btn btn-success">Update Profile</button>
        </div>
      </form>
    </div>
  </div>
</div>
